body {

    margin: 0;
    padding: 0;
    background-image: url("table.png");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
}

h1 {
    color: goldenrod;
    font-size: 60px;
    
}

#message-el {
      
    font-style: italic;
}

p {

    font-size: 25px;
    color: white;
}


button {

    color: #016f32;
    width: 200px;
    height: 40px;
    background-color: goldenrod;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}




